:root {
  --font-primary: "FiraSans", serif;
  --font-accent: "Cinzel", serif;

  --border-radius-lg: 12px;
  --border-radius-md: 6px;

  --transition-duration-long: 0.3s;
  --transition-duration: 0.2s;
  --transition-duration-short: 0.1s;
}
